name: Build

# https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: "build"
  cancel-in-progress: true

on:
  push:
    branches:
      # choose your default branch
      - master
      - main
    paths-ignore:
      - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Checkout builds
        uses: actions/checkout@master
        with:
          ref: "builds"
          path: "builds"
          # We need to fetch the builds branch to commit to it later.

      - name: Clean old builds
        run: rm -rf $GITHUB_WORKSPACE/builds/*.cs3

      - name: Setup JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Build Plugins
        env:
          # This connects the Secret you saved in Settings to this script
          JITPACK_TOKEN: ${{ secrets.JITPACK_TOKEN }}
        run: |
          chmod +x gradlew
          ./gradlew makeAllPlugins
          ./gradlew makePluginsJson

      - name: Push builds
        run: |
          cd $GITHUB_WORKSPACE/builds
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          # Use --allow-empty to ensure the commit succeeds even if no files changed
          git commit -m "Build $GITHUB_SHA" --allow-empty || exit 0
          # Explicitly push to the 'builds' branch
          git push origin HEAD:builds --force
